Repository wyntau/lint-recently: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --trailing-comma none --write

refactor: update debug output
  src/git.mts
  src/lintStaged.mts
Due: eslint --fix

refactor: update options
  src/git.mts
  src/lintStaged.mts
Due: eslint --fix

chore: upgrade execa to esm module
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

chore: remove useless packages
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

chore: update packages
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

refactor: update
  package.json
  src/index.mts
  src/lintStaged.mts
Due: eslint --fix, prettier --trailing-comma none --write

refactor: return empty array when no recently files matched
  src/lintStaged.mts
Due: eslint --fix

refactor: validateConfig
  src/config.mts
  src/index.mts
Due: eslint --fix

0.2.0
  package.json
Due: prettier --trailing-comma none --write

docs: update README
  README.md
Due: none

docs: add CHANGELOG.md
  CHANGELOG.md
Due: none

refactor: update debug output
  src/config.mts
  src/git.mts
  src/index.mts
  src/lintStaged.mts
Due: eslint --fix

refactor: do not catch execaGit error
  src/git.mts
Due: eslint --fix

fix: fix not git repo error
  src/git.mts
  src/lintStaged.mts
Due: eslint --fix

docs: update changelog
  CHANGELOG.md
Due: none

0.2.1
  package.json
Due: prettier --trailing-comma none --write

refactor: try to fix error in github actions
  src/bin.mts
  src/git.mts
Due: eslint --fix

feat: 0.2.2
  CHANGELOG.md
  package.json
Due: prettier --trailing-comma none --write

refactor: remove useless types
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

chore(renovate): update config
  .renovaterc.json
Due: prettier --trailing-comma none --write

chore: upgrade ts and tslib
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

chore: upgrade typescript-eslint
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

chore: upgrade type-fest
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

chore: upgrade execa
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

chore: update github ci
  .github/workflows/node.js.yml
  package.json
Due: prettier --trailing-comma none --write

chore: upgrade lint-staged to 14.x, support node >=16
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

chore: upgrade p-map, support node >=16
  package.json
  yarn.lock
Due: prettier --trailing-comma none --write

Path conditions:
  eslint --fix: any of: *.{ts,mts}
  prettier --trailing-comma none --write: any of: *.json
